# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
backend/.env
*.env

# Logs
logs/
*.log

# Build/Dist folders
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
coverage/
*.bak
*.tmp
.env 
